<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
</head>
<body>
<p><link href="md.css" rel="stylesheet"></link>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'></p>

<h2 id="eyyjason">Eyy Jason</h2>

<p>Whats up is this form here needs validating:</p>

<pre><code>&lt;form class=&quot;add_todo form-inline form-group-lg&quot; ng-submit=&quot;addTodo()&quot;&gt;
    &lt;input type=&quot;text&quot; class=&quot;todo-text form-control&quot; ng-model=&quot;todoText&quot; size=&quot;30&quot; placeholder=&quot;Create a New Task&quot;&gt;
    &lt;span class=&quot;select-style&quot;&gt;
&lt;select required ng-model=&quot;todoCategory&quot; class=&quot;form-control custom&quot;&gt;
        &lt;option value=&quot;&quot;&gt;Category&lt;/option&gt;
            &lt;option ng-repeat=&quot;category in categories&quot; value=&quot;{{category.category}}&quot; ng-bind=&quot;category.category&quot;&gt;&lt;/option&gt;
        &lt;/select&gt;
    &lt;/span&gt;
    &lt;span&gt;
&lt;p class=&quot;input-group&quot;&gt;
&lt;input required type=&quot;text&quot; class=&quot;form-control date-picker-select&quot; 
uib-datepicker-popup=&quot;{{format}}&quot; 
ng-model=&quot;todoDate&quot; 
is-open=&quot;popup1.opened&quot; 
datepicker-options=&quot;dateOptions&quot; 
ng-required=&quot;true&quot; close-text=&quot;Close&quot; 
alt-input-formats=&quot;altInputFormats&quot; /&gt; &lt;span class=&quot;input-group-btn&quot;&gt; &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; ng-click=&quot;open1()&quot;&gt;
   &lt;i class=&quot;fa fa-calendar-o&quot;&gt;&lt;/i&gt;
&lt;/button&gt; &lt;/span&gt; &lt;/p&gt;
    &lt;/span&gt;
    &lt;input class=&quot;btn-primary btn-task form-control&quot; type=&quot;submit&quot; value=&quot;Add Task&quot;&gt;
&lt;/form&gt;
</code></pre>

<p>To validate you need to use the form name, eg:</p>

<pre><code>&lt;input type=&quot;text&quot; class=&quot;todo-text form-control&quot; ng-model=&quot;todoText&quot; size=&quot;30&quot; placeholder=&quot;Create a New Task&quot; name=&quot;taskName&quot;&gt;
</code></pre>

<p>but when I do that, the form won&#8217;t submit anymore. literally when I add the name.</p>

<p>{{addTodo.taskName.$valid}}</p>

<p>Heres the code for submitting the form:</p>

<pre><code>$scope.todos.unshift({
    name: $scope.todoText,
    done: false,
    date: $scope.todoDate,
    category: $scope.todoCategory
});
console.log($scope.todoDate)
$scope.todoText = '';
$scope.todoDate = '';
$scope.todoCategory = '';
};
</code></pre>

</body>
</html>
