<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>TooDoo</title>
    <link rel="stylesheet" href="style/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,100italic,300italic,400italic,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
</head>

<body ng-app="todoListApp">
    <div ng-class="{'overlay': isActive}" ng-click="isActive = !isActive;"></div>
    <!-- Side Navigation. Filtering, adding categories. -->
    <sidenav></sidenav>
    <!-- Top bar and responsie menu, adding tasks. -->
    <responsivenav></responsivenav>
    <topbar></topbar>
    <div class="container inner-container">
        <div class="col-lg-8">
            <datepicker></datepicker>
        </div>
        <div class="container-fluid">
            <div class="row">
                <!-- Todos, main content. Editing tasks. -->
                <todos></todos>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/services/data.js"></script>
    <script src="scripts/directives/todos.js"></script>
    <script src="scripts/directives/sidenav.js"></script>
    <script src="scripts/directives/topbar.js"></script>
    <script src="scripts/directives/responsive_nav.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
    <script src="scripts/vendor/moment.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.1.js"></script>
    <script src="/scripts/services/date-fixer.js"></script>
</body>

</html>
