<div class="responsive-nav">
    <div class="row">
        <div class="container inner-container">
            <a href="" class="pull-left logo">
                <img src="img/logo.svg" alt="">
            </a>
            <div class="responsive-toggle pull-right" ng-click="isActive = !isActive;">
                <i class="fa fa-bars fa-2x"></i>
            </div>
        </div>

    </div>
</div>
