<div id="sidebar-wrapper" ng-class="{'expanded_sidebar': isActive}">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="" class="pull-left logo">
                <img src="img/logo.svg" alt="">
            </a>
        </li>
        <ul class="sub-nav">
            <li class="side-title">
                Tasks
            </li>
            <li class="sidebar-item" ng-click="filterDays('')">
                <div class="side-cat-time"></div>
                <a href="">All</a>
            </li>
            <li class="sidebar-item" ng-click="filterDays('today')">
                <div class="side-cat-time"></div>
                <a href="">Today</a>
            </li>
            <li class="sidebar-item" ng-click="filterDays('tomorrow')">
                <div class="side-cat-time"></div>
                <a href="">Tomorrow</a>
            </li>
            <li class="sidebar-item" ng-click="filterDays('7days')">
                <div class="side-cat-time"></div>
                <a href="">Next 7 Days</a>
            </li>
        </ul>
        <ul class="sub-nav">
            <li class="side-title">
                Categories
            </li>
            <li class="sidebar-item" ng-click="filters.category = ''">
                <div class="side-cat-time"></div>
                <a href=""> All Categories</a>
            </li>
            <li ng-repeat="category in categories" class="sidebar-item" ng-class="{sel: $index == selected}" ng-click="filters.category = category.category; select($index);">
                <div class="side-cat-{{category.id}}"></div>
                <a href="">
                    {{category.category}}
                </a>
            </li>
            <li ng-click="adding = !adding" class="sidebar-item" id="add-cat">
                <div class="side-cat-add">+</div>
                <a href="">New Category</a>
            </li>
            <li class="sidebar-item">
                <form ng-show="adding" class="add_category form-group-lg" ng-submit="addCategory()">
                    <input type="text" class="category-text" ng-model="categoryText">
                    <div class="category-add-buttons">
                        <input ng-click="adding = !adding" class="form-control btn-primary btn-task" type="submit" value="Add">
                        <a ng-click="adding = !adding" class="form-control btn-primary btn-task"> Cancel</a>
                    </div>
                </form>
            </li>
        </ul>
</div>
