<div class="col-lg-8">
    <div class="card">
        <div class="list">
            <div class="card-title">
                <h3>Today</h3>
                <div class="row">
                    <div class="add col-lg-12">
                    </div>
                </div>
            </div>
            <ul>
                <li class="cat-{{todo.category | grabCatID : categories : 'category' :'id'}}-item item" ng-repeat="todo in todos | filterTasksUsingDay: filterDay | filter:filters |  orderBy: 'completed'" ng-init="todo.completed = false">
                    <input ng-model="todo.completed" type="checkbox" />
                    <span ng-click="todo.completed = !todo.completed"></span>
                    <label ng-hide="editing" ng-class="{'editing-item':editing, 'completed':todo.completed}">
                        {{todo.name}} {{todo.date | date:'dd MMMM' }}
                    </label>
                    <input ng-show="editing" ng-model="todo.name" class="editing-label" type="text">
                    <div class="actions" ng-hide="editing">
                        <a class="{{todo.category}}-action" ng-click="editing = !editing" href="">Edit</a>
                        <a class="{{todo.category}}-action" href="" class="delete" ng-click="deleteTodo(todo, $index)">Delete</a>
                    </div>
                    <div class="editing-row">
                        <button class="btn editing-btn save-btn" ng-show="editing" ng-click="editing = !editing">Save</button>
                        <button class="btn editing-btn cancel-btn" ng-show="editing" ng-click="editing = !editing">Cancel</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
