<div class="row">
    <div class="toggle-topbar">
        <div class="container">
            <div class="col-lg-8">
                <a href="" class="pull-left">Add New Task</a>
                <i class="pull-right fa fa-plus" ng-click="topBarActive = !topBarActive;"></i>
            </div>
        </div>
    </div>
    <div class="container inner-container">
        <div class="top-bar" ng-class="{'activated': topBarActive}">
            <div class="container-fluid">
                <div class="col-lg-8">
                    <form name="addNewTodo" class="add_todo form-inline" ng-submit="addTodo(addNewTodo)" novalidate="novalidate">
                        <div class="form-group">
                            <input name="taskName" type="text" class="todo-text form-control" ng-model="todoText" size="30" required="required" placeholder="Create a New Task" ng-class="{'has-error':!addNewTodo.taskName.$valid && !addNewTodo.$pristine, 'has-success':addNewTodo.taskName.$valid && addNewTodo.$submitted}">
                            <span class="select-style">
                    <select name="taskCategory" required="required" ng-model="todoCategory" class="form-control custom">
                        <option value="">Category</option>
                            <option ng-repeat="category in categories" value="{{category.category}}" ng-bind="category.category"></option>
                    </select>
                </span>
                            <span>
                    <p class="input-group">
                    <input name="taskDate" type="text"  required="required" class="form-control date-picker-select" 
                    uib-datepicker-popup="{{format}}" 
                    ng-model="todoDate" 
                    is-open="popup1.opened" 
                    datepicker-options="dateOptions" 
                    close-text="Close" 
                    alt-input-formats="altInputFormats" /> <span class="input-group-btn"> <button type="button" class="btn btn-default" ng-click="open1()">
                       <i class="fa fa-calendar-o"></i>
                    </button> </span> </p>
                            </span>
                            <input class="btn-primary btn-task form-control" type="submit" value="Add Task">
                        </div>
                    </form>
                    <p class="help-block" ng-show="addNewTodo.$submitted && (addNewTodo.taskName.$error.required || addNewTodo.taskCategory.$error.required || addNewTodo.taskDate.$error.required)">
                        Please fill in all the fields!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
