* {
    box-sizing: border-box;
}

body {
    color: #9B9B9B;
    font-family: 'Roboto', sans-serif;
    background: #f5f9f9;
    font-size: 16px;
}

.inner-container {
    width: auto;
    margin-left: 250px;
    min-height: 100%;
}

.add {
    width: 100%;
    input {
        height: 2em;
    }
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

.top-bar {
    background: $brand-blue;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

// html,
body {
    overflow-x: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 5;
    width: 100%;
    height: 100%;
}

@media(min-width:768px) {
    .overlay {
        display: none!important;
    }
}
