.uib-datepicker-popup {
    border-radius: 0;
    padding-top: 0;
    font-family: 'Roboto';
    button {
        border-radius: 0;
    }
    .uib-title,
    .uib-left,
    .uib-right {
        background: $brand-blue;
        padding-top: 1em;
        padding-bottom: 1em;
        color: white;
        border: 0px solid;
        transition: all 0.3s;
    }
    .uib-left,
    .uib-right {
        &:hover {
            background: $brand-blue-fade;
        }
    }
    .text-muted {
        color: $faded;
    }
    .uib-weeks {
        td {
            border: solid 0.5px $base-text-fade;
            button {
                border: 0px solid;
            }
        }
    }
    th {
        small.ng-binding {
            font-weight: 300;
            display: inline-block;
        }
    }
    .ui-datepicker .btn-group .btn-danger.btn {
        display: none;
    }
}
