.add_todo {
    .form-control {
        height: 34px;
        background-color: rgba(255, 255, 255, 1);
        border: 0px;
        border-radius: 1px;
        &:focus {
            background-color: rgba(255, 255, 255, 0.8);
        }
    }
    select {
        text-transform: capitalize;
        border-radius: 0;
    }
    input {
        border-radius: 0;
    }
    select {
        margin: 5px;
        width: 200px !important;
    }
    select.custom {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23555555%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C156.1l-3.6-6.5l-3.7%2C6.5%20M-252.7%2C159l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E");
        padding-right: 25px;
        background-repeat: no-repeat;
        background-position: right center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    select.custom::-ms-expand {
        display: none;
    }
    .date-picker-select {
        margin-top: 0!important;
    }
    .input-group-btn:last-child > .btn {
        border-radius: 0!important;
        border: 1px solid white;
        border-left: 2px solid $base-text-fade;
    }
    .btn-primary {
        background: $action;
        border: 1px solid $action;
    }
}

@media(min-width:0px) {
    // Top Bar and Forms
    .add_todo {
        width: 100%;
        input {
            display: block;
            width: 100%!important;
            margin: 0 auto;
            margin-top: 1em;
        }
        select {
            display: block;
            width: 100%!important;
            margin: 0 auto;
            margin-top: 1em;
        }
    }
}

@media(min-width:768px) {
    // Top Bar and Forms
    .add_todo {
        width: 100%;
        input {
            display: inline-block;
            width: auto!important;
            margin: 0 auto;
        }
        select {
            display: inline-block;
            width: auto!important;
            margin: 0 auto;
        }
    }
}

// Swap glyphicon classes to font awesome cclasses for that datepicker template
.glyphicon {
    display: inline-block;
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-chevron-left:before {
    content: "\f053";
}

.glyphicon-chevron-right:before {
    content: "\f054";
}

.glyphicon-chevron-up:before {
    content: "\f077";
}

.glyphicon-chevron-up:before {
    content: "\f077";
}

// Validation Styles
.help-block {
    transition: 0.3s ease-in all;
    opacity: 1;
    color: white;
}

.help-block.ng-hide {
    transition: 0.3s ease-in all;
    opacity: 0;
    color: white;
}
