//------
// Cat1
//------
.cat-1-item {
    border-left: 3px solid $cat-1-colour;
}

.cat-1-item:hover {
    background: $cat-1-fade;
}

.cat-1-action {
    color: $base-text-fade;
    transition: 0.3s ease-in;
}

.cat-1-item:hover .cat-1-action {
    color: $cat-1-colour;
}
//------
// Cat 2
//------
.cat-2-item {
    border-left: 3px solid $cat-2-colour;
}

.cat-2-item:hover {
    background: $cat-2-fade;
}

.cat-2-action {
    color: $base-text-fade;
    transition: 0.3s ease-in;
}

.cat-2:hover .cat-2-action {
    color: $cat-2-colour;
}

//------
// Cat 3
//------

.cat-3-item {
    border-left: 3px solid $cat-3-colour;
}

.cat-3-item:hover {
    background: $cat-3-fade;
}

.cat-3-action {
    color: $base-text-fade;
    transition: 0.3s ease-in;
}

.cat-3-item:hover .cat-3-action {
    color: $cat-3-colour;
}

//------
// Cat 4
//------

.cat-4-item {
    border-left: 3px solid $cat-4-colour;
}

.cat-4-item:hover {
    background: $cat-4-fade;
}

.cat-4-action {
    color: $base-text-fade;
    transition: 0.3s ease-in;
}

.cat-4-item:hover .cat-4-action {
    color: $cat-4-colour;
}

//------
// Cat 5
//------

.cat-5-item {
    border-left: 3px solid $cat-5-colour;
}

.cat-5-item:hover {
    background: $cat-5-fade;
}

.cat-5-action {
    color: $base-text-fade;
    transition: 0.3s ease-in;
}

.cat-5-item:hover .cat-5-action {
    color: $cat-5-colour;
}

//------
// Cat 6
//------

.cat-6-item {
    border-left: 3px solid $cat-6-colour;
}

.cat-6-item:hover {
    background: $cat-6-fade;
}

.cat-6-action {
    color: $base-text-fade;
    transition: 0.3s ease-in;
}

.cat-6-item:hover .cat-6-action {
    color: $cat-6-colour;
}

//------
// Cat 7
//------

.cat-7-item {
    border-left: 3px solid $cat-7-colour;
}

.cat-7-item:hover {
    background: $cat-7-fade;
}

.cat-7-action {
    color: $base-text-fade;
    transition: 0.3s ease-in;
}

.cat-7-item:hover .cat-7-action {
    color: $cat-7-colour;
}
