.card-title {
    border-bottom: 2px solid $faded;
    margin-bottom: 1em;
    padding: 18px 0 12px 8px;
    h3 {
        font-family: 'Roboto';
        font-weight: 300;
    }
}

.card {
    background: $list-bg;
    padding: 0.5em;
    border-radius: 3px;
    margin-top: 0.5em;
    box-shadow: 0px 1px 1px 1px rgba(85, 85, 85, 0.1);
    &:first-child {
        margin-top: 3em;
    }
    h3 {
        display: inline-block;
        color: $base-text;
        margin-top: 0!important;
        margin-bottom: 0!important;
    }
    h4 {
        display: inline-block;
        color: $base-text-fade;
        margin-top: 0!important;
        margin-bottom: 0!important;
    }
}

.list {
    background: $list-bg;
    text-align: left;
    ul {
        list-style-type: none;
        padding: 0;
    }
}

.item {
    padding: 18px 0 6px 8px;
    transition: all 0.3s ease-in;
    box-shadow: inset 0px -1px 0px 0px #e0e0e0;
    font-family: 'Roboto';
    &:last-child {
        box-shadow: none;
    }
}

.list .item label {
    padding-left: 0.3em;
    cursor: pointer;
    font-weight: 100;
}

.list .item .editing-label {
    margin-left: 5px;
    border-radius: 2px;
    border: none;
    border-bottom: 2px solid #a7b9c4;
    font-size: 16px;
    padding: 5px 0 5px 0px;
    width: 40%;
    background: rgba (255, 255, 255, 0)!important;
}

.list .item .actions {
    float: right;
    margin-right: 20px;
    font-weight: 100;
    cursor: pointer;
    a {
        cursor: pointer!important;
    }
}

.list .item .actions .delete {
    color: #ed5a5a;
    margin-left: 10px;
}

.list .item .actions .delete:hover {
    color: #f28888;
}

.list .item.editing .actions {
    margin-top: 17px;
}

.list .edited label:after {
    content: " edited";
    text-transform: uppercase;
    color: #f00;
    font-size: 14px;
    padding-left: 5px;
}

.list .completed label {
    color: #a7b9c4;
    text-decoration: line-through;
}

.actions {
    float: right;
}

// NEW BUTTON HERE LAD
.check {
    width: 1em;
    height: 1em;
    border: 3px solid red;
    border-radius: 100%;
}

.edit-button {
    width: 30px;
    height: 30px;
    background-image: url(../../img/check.svg)
}

.editing {
    border-bottom: 3px white solid;
}

.completed {
    text-decoration: line-through;
    color: $base-text-fade;
}

// Animations
.item.ng-enter {
    animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        max-height: 30px;
    }
    to {
        opacity: 1;
        max-height: 200px;    }
}




.item.ng-enter,
.item.ng-leave,
.item.ng-move {
  -webkit-transition: all linear 1s;
  -moz-transition: all linear 1s;
  -o-transition: all linear 1s;
  transition: all linear 1s;
    
  position:relative;
  left:5px;
}
.item.ng-enter {
  opacity: 0;
}
.item.ng-enter.ng-enter-active {
  opacity: 1;
}
.item.ng-leave {
  opacity: 1;
}
.item.ng-leave.ng-leave-active {
  opacity: 0;
}
.item.ng-move {
  left:2px;
  opacity: 0.5;
}
.item.ng-move.ng-move-active {
  left:0;
  opacity: 1;
}



// CHECKBOXED
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    background: url('../../img/checkbox-empty.svg');
    cursor: pointer;
}

input[type="checkbox"]:checked + span {
    background: url('../../img/checkbox-filled.svg');
}

.add_todo > .col-lg-3 {
    padding: 0;
}
