.nav-side-menu {
    overflow: auto;
    font-size: 12px;
    font-weight: 200;
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    color: white;
}

.logo {
    padding-right: 2em;
    img {
        width: 60%;
    }
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #333333;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper.expanded_sidebar {
    left: 250px;
    width: 250px;
    display: inline-block;
    z-index: 400;
    box-shadow: 10px 0px 35px rgba(0, 0, 0, 0.3);
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        text-indent: 20px;
        line-height: 40px;
    }
    li a {
        display: block;
        text-decoration: none;
        color: #999999;
    }
    &:hover {
        text-decoration: none;
    }
    .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
        color: #fff;
        margin-bottom: 50px;
        a {
            color: #fff;
            &:hover {
                background: none;
            }
        }
    }
    .side-title {
        font-size: 1.17em;
        color: white;
        font-weight: 300;
        &:after {
            content: '';
            width: 80%;
            height: 0px;
            margin-left: 1.3em;
            display: block;
            border-bottom: 1px $base-text solid;
        }
    }
    .sidebar-item {
        transition: all 0.3s;
        text-transform: capitalize;
        a {
            display: inline;
            font-weight: 100;
            color: white;
        }
        [class^="side-cat"] {
            display: inline-block;
            margin-right: 0.5em;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            transform-origin: 50% 50%;
            transition: all 0.3s;
        }
        .side-cat-time {
            border: 1px solid $base-text;
        }
        .side-cat-1 {
            background: $cat-1-colour;
        }
        .side-cat-2 {
            background: $cat-2-colour;
        }
        .side-cat-3 {
            background: $cat-3-colour;
        }
        .side-cat-4 {
            background: $cat-4-colour;
        }
        .side-cat-5 {
            background: $cat-5-colour;
        }
        .side-cat-6 {
            background: $cat-6-colour;
        }
        .side-cat-7 {
            background: $cat-7-colour;
        }
        .side-cat-8 {
            background: $cat-8-colour;
        }
        .side-cat-9 {
            background: $cat-9-colour;
        }
        .side-cat-10 {
            background: $cat-10-colour;
        }
        .side-cat-add {
            margin-left: -1.2em;
            margin-right: 1.7em;
        }
        &:hover a {
            color: white;
            transition: 0.3s all;
        }
        &:hover:after {
            border-bottom: 1px white solid;
            transition: 0.3s all;
        }
        &:hover [class^="side-cat"] {
            transform: scale(1.2, 1.2);
        }
        &:hover .side-cat-add {
            transform: none;
        }
        &:after {
            content: '';
            width: 80%;
            height: 0px;
            margin-left: 1.3em;
            display: block;
            border-bottom: 1px #4b4b4b solid;
        }
        .add_category {
            color: $base-text;
            input[type=text] {
                width: 80%;
                height: 2em;
                border: none;
                border-bottom: 1px white solid;
            }
           .btn-task {
                width: 39.5%!important;
                display: inline-block;
                text-align: center;
            }
            a.btn-task {
                text-align: center;
                background: $base-text-fade;
                border: 1px solid $base-text-fade;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.sub-nav {
    padding: 0 0 0 0;
    margin: 0 0;
    margin-bottom: 2em;
}

// Sidenav Animations
.add_category {}

.add-category.ng-enter {
    animation: fadeLad 0.5s linear;
}

@keyframes fadeLad {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sel {
    a {
        font-weight: 400!important;
    }
}

// responsive nav here
.responsive-nav {
    display: none;
}

// top bar toggle here
.toggle-topbar {
    display: none;
}

@media(min-width:0px) {
    // Sidebar and Main Body
    // This positions the side menu off to the side
    #sidebar-wrapper {
        width: 250px;
        left: -250px;
    }
    // This should remove the margin on the wrapper
    .inner-container {
        margin-left: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    // responsive header 
    .responsive-nav {
        display: block;
        height: 3em;
        padding-top: 0.5em;
        padding-left: 1.75em;
        padding-right: 2em;
        background: #333333;
        .responsive-toggle {
            cursor: pointer;
            z-index: 400;
            position: relative;
        }
        i {
            color: white;
            transition: all 0.3s;
            &:hover {
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
    // responsive header 
    .toggle-topbar {
        display: block;
        padding-top: 0.5em;
        padding-left: 0.9em;
        padding-right: 1.2em;
        background: $brand-blue;
        color: white;
        font-size: 1.2em;
        margin-bottom: -0.5em;
        a.pull-left {
            color: white;
            margin-bottom: 0.5em;
        }
        .toggle-topbar-button {
            cursor: pointer;
            z-index: 400;
            position: relative;
        }
        i {
            color: white;
            transition: all 0.3s;
            margin-top: 0.2em;
            &:hover {
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
    .top-bar {
        display: none;
        padding-bottom: 1em;
        margin-bottom: -1em;
    }
    .top-bar.activated {
        display: block;
        animation: fadeIn 0.3s;
        .add_todo {
            input {
                animation: fadeIn 0.3s;
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        height: 0;
    }
    to {
        opacity: 1;
        height: auto;
    }
}

@media(min-width:768px) {
    // Sidebar and Main Body
    // This pushes the sidebar out
    #sidebar-wrapper {
        width: 250px;
        left: 250px;
    }
    // This stretches the container across the whole screen
    .inner-container {
        margin-left: 250px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    // responsive header 
    .responsive-nav {
        display: none;
    }
    // top bar toggle here
    .toggle-topbar {
        display: none;
    }
    .top-bar {
        display: block;
    }
}
