// Base Variables
$base-text: #9b9b9b;
$base-text-fade:rgba(155, 155, 155, 0.5);
$faded:rgba(224, 224, 224, 30);
$brand-blue: #4a90e2;
$brand-blue-fade: #7db3f6;
$action: #4545bb;
// Category Colors
$cat-1-colour: #43aa8b;
$cat-1-fade: #edffe8;

$cat-2-colour: #ff6f59;
$cat-2-fade: #fee;

$cat-3-colour: #b659ff;
$cat-3-fade: #fae0ff;

$cat-4-colour: #59B5FF;
$cat-4-fade: #edf6ff;

$cat-5-colour: #ff0077;
$cat-5-fade: #ffdfff;

$cat-6-colour: #ffaa33;
$cat-6-fade: #ffeeaa;

$cat-7-colour: #31af50;
$cat-7-fade: #a0efa9;

$cat-8-colour: #c4FF1e;
$cat-8-fade: #ddFFae;

$cat-9-colour: #fa4425;
$cat-9-fade: #faddcc;

$cat-10-colour: #46b1a7;
$cat-10-fade: #a6fae6;

// 
$list-bg: #fdfdff;
